/* Columns */
.col {
  margin: 2% 1% 0 1%;
  float: left;
  padding: 20px;
}

.clearfix, .clearfix:after {
  content: '';
  display: table;
  clear: both; }

.dark {
  background: #222222;
  color: #f1f1f1; }

/* width attribute */
.w75 {
  width: 73%; }

.w66 {
  width: 64%; }

.w50 {
  width: 48%; }

.w33 {
  width: 31%; }

.w25 {
  width: 23%; }

/* height attribute to apply a specific heigh to every column section */
.h50 {
  height: 50px; }

.h150 {
  height: 150px; }

.h200 {
  height: 200px; }

.h250 {
  height: 250px; }

.h300 {
  height: 300px; }

.h350 {
  height: 350px; }

.h400 {
  height: 400px; }

.h450 {
  height: 450px; }

.h500 {
  height: 500px; }

@media all and (max-width: 800px) {
  .col {
    width: 100%;
    display:block;
    float:left;
  }
}
